{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}

    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ 'Meeting'|trans }}!</h1>
    </div>
    <div class="container">
        {{ dump(attendee) }}
    </div>
{% endblock %}
